@import url("https://fonts.googleapis.com/css?family=Lobster");

body{
    background-image: url("../image/photo1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 700px; 
}
.simple-form{
    text-align: center;
    margin: 50px 0 0;    
}
h2.typewriter {
    font-family: Lobster;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin-left: auto; /* Gives that scrolling effect as the typing happens */
    margin-right: auto;
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end);
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 50%; }
}

#registration{
    margin-left: 25%;
    width: 50%;
    background-color: #051019;
    opacity: 0.8;
    padding: 50px 0;
}
#registration a{
    font-size: 1.2em;
    display: block; margin-top: 20px; color: #fff;
    transition: all 3s ease;
    text-decoration: none;
}
#registration a:hover{
    color: #f4e842;
}
#button{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
}
#ph{
    outline: 0;
    width: 66px;
    padding: 10px;
    border-radius: 5px;
}
#phone{
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    outline: 0px;
}
#but{
    color: aliceblue;
    font-size: 18px;
}
#butt{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    outline: 0px;
    background-color: #0c6996;
    border: 2px solid #01010c;
    color: aliceblue;
    font-size: 18px;
}